<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
    <!-- 本地日志配置文件 -->
    <!-- 控制台输出 -->
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %p [%l] - %m %n"/>
        </layout>
        <!--限制输出级别 -->
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMax" value="ERROR"/>
            <param name="LevelMin" value="TRACE"/>
            <param name="AcceptOnMatch" value="true"/>
        </filter>
    </appender>

    <!-- 每天产生一个日志文件 -->
    <appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="./logs/root.log"/>
        <param name="DatePattern" value="yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %p [%l] - %m %n"/>
        </layout>
    </appender>

    <!-- ERROR级别日志 -->
    <appender name="FILE_ERROR" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="./logs/error.log"/>
        <param name="DatePattern" value="yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %p [%l] - %m %n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMax" value="ERROR"/>
            <param name="LevelMin" value="ERROR"/>
        </filter>
    </appender>

    <!-- 日志输出级别 -->
    <category name="com.zhysunny">
        <level value="INFO"/>
    </category>

    <root>
        <level value="INFO"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="FILE_ERROR"/>
    </root>
</log4j:configuration>